certifi
charset-normalizer
cycler
fonttools
gitdb
GitPython
idna
keyboard
kiwisolver
logger
lz
matplotlib
memoir
mouse
mypy
mypy-extensions
numpy
opencv-python
packaging
pandas
paradigm
Pillow
playsound
pynput
pyparsing
PySide6
pytesseract
python-dateutil
pytz
pywin32
reprit
requests
scipy
seaborn
shiboken6
six
smmap
tomli
typing_extensions
urllib3
